<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>

        <ion-toolbar>
          <ion-title>{{categoryName}} Categories</ion-title>
          <ion-buttons slot="start">
            <ion-back-button defaultHref='/'></ion-back-button>
          </ion-buttons>
        </ion-toolbar>

      </ion-row>

      <ion-row>
        <ion-col >
        <ion-searchbar style="
    --box-shadow: none;
    width: 100%;
    height: 90px;
    --background: #F2F3F2;
    padding: 25px;
    " class="custom" placeholder="Search Product" animated="true">
        </ion-searchbar>
      </ion-col>
      <ion-col size="auto">
        <ion-item style="padding: 25px;">
          <ion-icon name="filter" aria-hidden="true"></ion-icon>
          <ion-label>Filter</ion-label>
        </ion-item>
      </ion-col>
      </ion-row>

     
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- <div class="wrapper">
    <div *ngFor="let item of categoryBadges;let i = index" class="badge" (click)="categorySelectEvent($event, i)">
      <p> {{item.name | titlecase}} </p>
    </div>
  </div> -->



  <!-- below div consist of two div . FIRST INCLUDES FILTER CONEENT AND OTHER
  DISPLAY CONTENT  -->

  <div>

    <!-- Loading..... -->
    <div *ngIf="loadbar">
      <div style="width: 100%; display: flex; justify-content: center;">
        <ion-item>
          <ion-label>Searching</ion-label>
          <ion-spinner name="circles"></ion-spinner>
        </ion-item>
      </div>
    </div>

    <!-- Filter options and content start here  -->
    <!-- there are two colums one is for filter and other where content showsup -->
    <div class="ParentDiv">
      <!-- follwing div have filter options  -->
      <div class="div1">
        <div *ngIf="ShowOnPageData">
          <div style="height: 200px; overflow: auto;">
            <ion-item class="custom-list">
              <ion-label>
                <h2 slot="fixed">Select Product Category</h2>
                <ion-list>
                  <ion-radio-group [allowEmptySelection]="true" (ionChange)="selectproductCategory($event)"
                    [value]="initiallySelectedProductCategoryValue">
                    <ion-item *ngFor="let product of SelectProductCategory">
                      <ion-radio justify="space-between" [value]="product._id">{{product.name}}</ion-radio>
                    </ion-item>
                  </ion-radio-group>
                </ion-list>
              </ion-label>
            </ion-item>
          </div>


          <!-- radio buttons  -->
          <ion-item>
            <ion-label>
              <ion-range labelPlacement="start" label="Price" [value]="100" [pin]="true"
                (ionChange)="onIonChange($event)" [pinFormatter]="pinFormatter">
              </ion-range>
              <h6> {{ ' Price Between - 0 - ' + selectedValues['upperPrice'] + ' Rs ' }} </h6>
            </ion-label>
          </ion-item>



          <ion-item *ngFor="let item of ReceivedFilterData | keyvalue: originalOrder">
            <ion-select [label]="item.key" placeholder="Select" (ionChange)="showselected(item.key,$event)">
              <ion-select-optgroup>
                <ion-select-option *ngFor="let value of item.value" [value]="value">{{value}}</ion-select-option>
              </ion-select-optgroup>
            </ion-select>
          </ion-item>

          <!-- // static option for veg and nonveg  -->
          <ion-item>
            <ion-label>
              <h5>Veg/Nonveg</h5>
              <ion-list>
                <ion-radio-group (ionChange)="showselected('vegNonveg',$event)">
                  <ion-radio value="veg">Veg</ion-radio> <br />
                  <ion-radio value="nonveg">Nonveg</ion-radio>
                </ion-radio-group>
              </ion-list>
            </ion-label>
          </ion-item>

        </div>
      </div>

      <!-- follwing div have the content to be shown  -->
      <div class="div2">
        <!-- following div show no message if no content is found -->
        <div *ngIf="ShowMessage" style="margin-inline: auto;">
          <ion-item>
            <ion-label>
              <h1>No Result Found</h1>
            </ion-label>
          </ion-item>
        </div>

        <!-- if content is there below div is visible -->
        <div  class="ParentContentDiv">
          <ion-grid>
            <ion-row>
              <ion-col size-lg="4" size-md="6" size-sm="6" size="12" *ngFor="let description of AllFilterData">
                <ion-card color="light" class="custom-card">
                  <ion-thambnail>
                    <img [src]="description.images[0]?.link" class="imgclass" alt="img">
                  </ion-thambnail>
                  <ion-card-header>
                    <ion-card-title>{{ description.name }}</ion-card-title>
                    <ion-card-subtitle>{{ description.brand }}</ion-card-subtitle>
                    <ion-card-subtitle>Rs.{{ description.price }}</ion-card-subtitle>
                  </ion-card-header>
                  <ion-card-content>

                    <ion-text>{{ description.description }}</ion-text>
                    <br />


                    <ion-button size='small' color="light"> <ion-icon size="small" name="cart"
                        aria-hidden="true"></ion-icon></ion-button>
                    <ion-button size='small' color="light"><ion-icon size="samll" name="heart" color=""
                        aria-hidden="true"></ion-icon> </ion-button>
                  </ion-card-content>


                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>


        </div>
      </div>
    </div>

  </div>


</ion-content>