<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row>

        <ion-col >
          <ion-toolbar>
            <ion-title>{{categoryName}} Categories</ion-title>
            <ion-buttons slot="start">
              <ion-back-button defaultHref='/'></ion-back-button>
            </ion-buttons>
          </ion-toolbar>
        </ion-col>
        <ion-col size="auto">

          <div style="padding-right: 20px; padding-top: 10px; cursor: pointer;">
           
              <!-- <ion-icon size="large" name="cart" aria-hidden="true"></ion-icon> -->
            <ion-icon size="large" name="cart" aria-hidden="true"></ion-icon>
            <ion-badge>{{TotalCartItems[0].data.cartItems.length}}</ion-badge>
          
          </div>
          

        </ion-col>

      </ion-row>

      <ion-row>
        <ion-col>
          <ion-searchbar style="
    --box-shadow: none;
    width: 100%;
    height: 90px;
    --background: #F2F3F2;
    padding: 25px;
    " class="custom" placeholder="Search Product" animated="true">
          </ion-searchbar>
        </ion-col>
        <div class="filterIcon">
          <ion-col size="auto">

            <ion-item>
              <ion-button id="open-modal" expand="block" slot="start" class="custom-button">
                Filter
                <ion-icon name="filter" slot="end" class="custom-icon"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-col>
        </div>

      </ion-row>


    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <!-- below div consist of two div . FIRST INCLUDES FILTER CONEENT AND OTHER
  DISPLAY CONTENT  -->

  <div>
    <div *ngIf="loadbar">
      <div style="width: 100%; display: flex; justify-content: center;">
        <ion-item>
          <ion-label>Searching</ion-label>
          <ion-spinner name="circles"></ion-spinner>
        </ion-item>
      </div>
    </div>


    <ion-grid>
      <!-- Filter options and content start here  -->
      <!-- there are two colums one is for filter and other where content showsup -->

      <ion-row>
        <ion-col size="3" style="height: 96vh;" class="div1"><!-- follwing div have filter options  -->
          <app-filter (sendata)="getEmittedvalues($event)"></app-filter>
        </ion-col>

        <ion-col>
          <!-- follwing div have the content to be shown  -->
          <ion-grid>
            <ion-row>
              <ion-col *ngIf="ShowMessage" style="margin-inline: auto;">
                <ion-item>
                  <ion-label>
                    <h1>No Result Found</h1>
                  </ion-label>
                </ion-item>
              </ion-col>


              <ion-col size="12" size-md="4" *ngFor="let description of AllFilterData">
                <!-- <ion-card  class="custom-card">

                  <ion-card-content class="custom-card-content">
                    <ion-card-header>
                      <ion-thambnail>
                        <img [src]="description.images[0]?.link" class="imgclass" alt="img">
                      </ion-thambnail>
                    </ion-card-header>
                    <ion-card-title>{{ description.name }}</ion-card-title>
                    <ion-card-subtitle>{{ description.brand }}</ion-card-subtitle>
                    <ion-card-subtitle>Rs.{{ description.price }}</ion-card-subtitle>
                    <div class="limited-width">
                      <p><ion-note>{{ description.description }}</ion-note></p>
                    </div>

                  </ion-card-content>


                  <ion-item>
                    <ion-select label="Select Quantity" label-placement="1" placeholder="1" (ionChange)="selectQuantity($event)">
                      <ion-select-optgroup>
                        <ion-select-option *ngFor="let num of productQuatity"
                          [value]="num">{{num}}</ion-select-option>
                      </ion-select-optgroup>
                    </ion-select>
                  </ion-item>


                      <ion-row class="">
                        <ion-col size="6">

                          <ion-button size='small' color="light" expand="block" (click)="AddToCart(description)">
                            <ion-icon size="small" name="cart" aria-hidden="true">
                            </ion-icon>
                          </ion-button>
                        </ion-col>

                        <ion-col size="6">
                          <ion-button size='small' expand="block" color="light"><ion-icon size="samll" name="heart" color=""
                              aria-hidden="true"></ion-icon> </ion-button>
                        </ion-col>

                       
                      </ion-row>

                   
                </ion-card> -->

                <ion-card>
                  <ion-card-content class="custom-card-content">
                    <ion-card-header>

                      <img [src]="description.images[0]?.link" class="imgclass" alt="img">

                    </ion-card-header>
                    <ion-card-title>{{ description.name }}</ion-card-title>
                    <ion-card-subtitle>{{ description.brand }}</ion-card-subtitle>
                    <ion-card-subtitle>Rs.{{ description.price }}</ion-card-subtitle>
                    <div class="limited-width">
                      <p><ion-note>{{ description.description }}</ion-note></p>
                    </div>
                  </ion-card-content>

                  <ion-card-footer>
                    <ion-row>
                      <ion-item>
                        <ion-select label="Quantity - " label-placement="1" placeholder="1"
                          (ionChange)="selectQuantity($event)">
                          <ion-select-optgroup>
                            <ion-select-option *ngFor="let num of productQuatity" [value]="num"> {{
                              num}}</ion-select-option>
                          </ion-select-optgroup>
                        </ion-select>
                      </ion-item>
                    </ion-row>

                    <ion-row class="button-row">
                      <ion-col size="6">
                        <ion-button  size='small'   color="light" expand="block" (click)="AddToCart(description)">
                          <ion-icon size="small"  name="cart" id="open-modal" aria-hidden="true"></ion-icon>
                        </ion-button>
                      </ion-col>

                      <ion-col size="6">
                        <ion-button size='small' expand="block" color="light">
                          <ion-icon size="samll" name="heart" color="" aria-hidden="true"></ion-icon>
                        </ion-button>
                      </ion-col>
                    </ion-row>

                  </ion-card-footer>
                </ion-card>
              </ion-col>
            </ion-row>

          </ion-grid>

        </ion-col>
      </ion-row>
    </ion-grid>
    <!-- model below  -->

    <ion-modal #modal trigger="open-modal" [initialBreakpoint]="0.25" [breakpoints]="[0, 0.25, 0.5, 0.75]">
      <ng-template>
        <ion-content>

          <app-filter (sendata)="getEmittedvalues($event)"></app-filter>

        </ion-content>
      </ng-template>
    </ion-modal>

    <!-- model ends here  -->

  </div>





</ion-content>

<!-- following div show no message if no content is found -->
<!-- <div *ngIf="ShowMessage" style="margin-inline: auto;">
  <ion-item>
    <ion-label>
      <h1>No Result Found</h1>
    </ion-label>
  </ion-item>
</div>

 if content is there below div is visible 
<div class="ParentContentDiv">
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" size-md="6" size-sm="6" size="12" *ngFor="let description of AllFilterData">
        <ion-card color="light" class="custom-card">
          <ion-thambnail>
            <img [src]="description.images[0]?.link" class="imgclass" alt="img">
          </ion-thambnail>
          <ion-card-header>
            <ion-card-title>{{ description.name }}</ion-card-title>
            <ion-card-subtitle>{{ description.brand }}</ion-card-subtitle>
            <ion-card-subtitle>Rs.{{ description.price }}</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>

            <ion-text>{{ description.description }}</ion-text>
            <br />


            <ion-button size='small' color="light"> <ion-icon size="small" name="cart"
                aria-hidden="true"></ion-icon></ion-button>
            <ion-button size='small' color="light"><ion-icon size="samll" name="heart" color=""
                aria-hidden="true"></ion-icon> </ion-button>
          </ion-card-content>


        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>


</div> -->