<ion-content class="background">
  <div class="flex-center">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Register</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <form [formGroup]="myForm" (ngSubmit)="onSubmit()">

          <ion-input type="name" formControlName="name" fill="outline" label="Name" label-placement="floating"></ion-input>
          <ion-item *ngIf="myForm.get('name')?.invalid && (myForm.get('name')?.dirty || myForm.get('name')?.touched)">
            <ion-label>
              <ion-note *ngIf="myForm.get('name')?.errors?.['required']">Please Enter your name</ion-note>
            </ion-label>
          </ion-item>

          <br>
          <ion-input type="email" formControlName="email" fill="outline" label="Email"
          label-placement="floating"></ion-input>
          <ion-item
            *ngIf="myForm.get('email')?.invalid && (myForm.get('email')?.dirty || myForm.get('email')?.touched)">
            <ion-label>
              <ion-note *ngIf="myForm.get('email')?.errors?.['required']">Email required</ion-note>
              <ion-note *ngIf="myForm.get('email')?.errors?.['email']">Invalid Email format</ion-note>
            </ion-label>
          </ion-item>

          <br>
          <ion-input type="tel" formControlName="phoneNo" fill="outline" label="Number"
          label-placement="floating"></ion-input>
          <ion-item class=" w-max border text-sm font-small text-red-500"
            *ngIf="myForm.get('phoneNo')?.invalid && (myForm.get('phoneNo')?.dirty || myForm.get('phoneNo')?.touched)">
            <ion-label>
              <ion-note *ngIf=" myForm.get('phoneNo')?.errors?.['required'] ">Number is required</ion-note>
              <ion-note *ngIf="myForm.get('phoneNo')?.errors?.['minlength'] || myForm.get('phoneNo')?.errors?.['maxlength']">Number must be of 10 digits only.</ion-note>
            </ion-label>
          </ion-item>

          <br>
          
          <ion-input type="text" fill="outline" formControlName="address" label="Address"
          label-placement="floating"></ion-input>
          <ion-item
            *ngIf="myForm.get('address')?.invalid && (myForm.get('address')?.dirty || myForm.get('address')?.touched)">
            <ion-label>
              <ion-note *ngIf="myForm.get('address')?.errors?.['required']">Please Enter your Address</ion-note>
            </ion-label>
          </ion-item>

          <br>
          <!-- password -->
          <ion-input type="{{ showPassword ? 'text' : 'password' }}" fill="outline" formControlName="password" label="Password"
          label-placement="floating">
          <!-- <ion-button
        color="dark"
        slot="end"
        fill="clear"
        (click)="this.showPassword = !this.showPassword;"
      >
        <ion-icon
          slot="end"
          name="{{ showPassword ? 'eye' : 'eye-off' }}"
          slot="end"
        ></ion-icon>
      </ion-button> -->
        </ion-input>
        
          <!-- <ion-icon name="eye" slot="end" (click)="togglePasswordVisibility()"></ion-icon> -->
          <ion-item class=" w-max border text-sm font-small text-red-500"
            *ngIf="myForm.get('password')?.invalid && (myForm.get('password')?.dirty || myForm.get('password')?.touched)">
            <ion-label>
              <ion-note *ngIf="myForm.get('password')?.errors?.['required']">Password is required</ion-note>
              <ion-note *ngIf="myForm.get('password')?.errors?.['minlength']">Password must be at least 8 characters
                long</ion-note>
            </ion-label>
          </ion-item>

          <br>
          <ion-button type="submit" size="full" href="/register">Register</ion-button>
          <ion-button size="full" fill="clear" (click)="alreadyRegistered()">Already Registered?</ion-button>
        </form>
      </ion-card-content>
    </ion-card>
  </div>

  <!-- model start here  -->
  <!-- <ion-button (click)="setOpen(true)">Click Me</ion-button> -->
  <ion-alert
    [isOpen]="isAlertOpen"
    header="Registration Successfully!"
    [buttons]="alertButtons"
    (didDismiss)="setOpen(false)"
  ></ion-alert>
</ion-content>