ion-card {
    width: 400px;
}

ion-text{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 10px;
}