ion-card {
    width: 400px;
}

ion-text {
    display: flex;
    justify-content: center;
    cursor: pointer;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 10px;
}

ion-backdrop {
    opacity: 0.9;
    background: var(--ion-color-primary);
}

.FormFields {
    width: 90%;
    
    ion-item {
        margin-block: 10px;
        border-bottom: 1px solid black;
    }

    ion-item.invalid{
        border-bottom: 2px solid red;
    }

    ion-item.valid{
         border-bottom: 2px solid green;
    }
  
    ion-text {
        display: flex;
        justify-content: end;
        color: #FF8A00;
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
  
    }


  
  }

.background {
    --background: url(../../../assets/registerBackimg.jpg) no-repeat center center / cover;
    ;
}

#box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--ion-background-color, #fff);
    width: 90%;
    height: 100px;
    border-radius: 10px;
}


// .invalid {
//     border-bottom: 1px solid red;
    
//   }
  
//   .valid {
//     --border-color: green;
//   }
  
//   .transparent-background {
//     --border-color: transparent; /* Add this to ensure the border color is transparent by default */
//   }
  
//   .transparent-background.ion-untouched {
//     --border-color: transparent !important; /* Ensure the border color remains transparent if the field is untouched */
//   }
  
//   .transparent-background.ion-touched {
//     --border-color: var(--border-color) !important; /* Update the border color when the field is touched */
//   }
  
//   .transparent-background.ion-untouched.invalid {
//     --border-color: red !important; /* Update border color to red if field is invalid and untouched */
//   }
  
//   .transparent-background.ion-touched.valid {
//     --border-color: green !important; /* Update border color to green if field is valid and touched */
//   }
  