<ion-content [fullscreen]="true">
  <div style="position: relative; width: 100%;">

    <div style="   width: 100%;
    position: absolute; 
    overflow: hidden;">
      <img src="../../../assets/loginPageImage.png"
        style="float: right; height: 80%; position: fixed; top: -20px; right: 0px; " alt="">
    </div>

    <div style="
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: end; /* Center vertically */
  height: 100%; /* Fill the height of ion-content */
">

      <form [formGroup]="myForm" (ngSubmit)="onSubmit()" class="FormFields">

        <h1 style="font-family: Poppins; font-weight: bolder; font-size: xx-large;">Login</h1>
        <p slot="start">Please sign in to continue</p>
         
        <div>
        <ion-item class="transparent-background" [ngClass]="{ 'invalid': myForm.get('email')?.invalid && myForm.get('email')?.touched, 'valid': myForm.get('email')?.valid && myForm.get('email')?.touched}">
          <ion-input labelPlacement="stacked" placeholder="Enter Email" type="email" formControlName="email" (ionBlur)="validateEmail()">
          </ion-input>
          <ion-icon slot="start" name="mail"></ion-icon>
        </ion-item>
      </div>
        <!-- invalid message for email -->
          

        <ion-item class="transparent-background" [ngClass]="{ 'invalid': myForm.get('password')?.invalid && myForm.get('password')?.touched, 'valid': myForm.get('password')?.valid && myForm.get('password')?.touched}">
          <ion-input type="{{ showPassword ? 'text' : 'password' }}" placeholder="Enter Password" type="email"
            formControlName="password" (ionBlur)="validatePassword()" > </ion-input>
          <ion-icon slot="start" name="lock-closed"></ion-icon>
          <ion-button fill="clear" slot="end" aria-label="Show/hide" (click)="togglePasswordVisibility()">
            <ion-icon slot="icon-only" name="{{ showPassword ? 'eye' : 'eye-off' }}" aria-hidden="true"></ion-icon>
          </ion-button>
        </ion-item>


        <br>
        <ion-text slot="end">Forgot Password?</ion-text>
        <br>
        <ion-button class="purchaseButton" type="submit">Login</ion-button>
        <ion-button size="full" fill="clear" href="/register" style="text-transform: none; color: black;"> Don't have an
          account?<p style="color: #FF8A00;">&nbsp; Sign up</p> </ion-button>
      </form>

    </div>
  </div>
</ion-content>