<ion-content>
  
      <div class="flex-center">
        <ion-card >
          <ion-card-header >
            <ion-card-title>Login</ion-card-title>
          </ion-card-header>
    
          <ion-card-content>
            <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
            <ion-input type="email" fill="solid" label="Email" labelPlacement="floating" helperText="Enter a valid email"
               formControlName="email"></ion-input>
            <br>
            <ion-input type="password" fill="solid" label="Password" labelPlacement="floating" helperText="Enter a valid Password"
               formControlName="password"></ion-input>
              <br>
              <ion-text size="full" >Forgot Password?</ion-text>
              <br>
              <ion-button size="full"  type="submit">Login</ion-button>
              <br>
              <ion-button size="full" fill="clear"  href="/register">Register</ion-button>
            </form>
          </ion-card-content>
        </ion-card>
      </div>

</ion-content>