
ion-card {
    width: 400px;
}

ion-text{
    display: flex;
    justify-content: center;
    cursor: pointer;
}
.flex-center {
    // width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 10px;
    // padding-block: 10px;
    // margin-inline: 50px;
}

.background{
    --background: url(../../../assets//petstoreBackImg.jpg)  no-repeat center center / cover;;
}