<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title class="ion-text-center ion-margin-top">
      Explore Categories
    </ion-title>
    <ion-searchbar style="
     --box-shadow: none;
    width: 100vw;
    height: 90px;
    --background: #F2F3F2;
    padding: 25px;
    " class="custom" #inputstring (input)="SearchMethod(inputstring.value)" placeholder="Search Product" animated="true">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-margin ion-no-padding">
  <div class="wrapper">
    <div *ngFor="let item of categoryBadges;let i = index" class="badge" (click)="categorySelectEvent($event, i)">
      <p (click)="SearchMethod(item.name)"> {{item.name | titlecase}} </p>
    </div>
  </div>

  <ion-grid fixed>
    <ion-row >
      <ion-item *ngIf="ShowMessage" style="margin-inline: auto;">
        <ion-label><h1>Search Result is Empty</h1></ion-label>
       </ion-item>
    </ion-row>

    <ion-row *ngIf="!ShowOnPageData && !ShowMessage">
      <ion-col size="4" *ngFor="let searchdata of SearchResult">
        <div class="categoryWrapper animate__animated animate__bounceIn" >
          <img [src]="searchdata.images[0]?.link"  alt="" srcset="">
          <ion-text class="ion-text-center">
            <h6>{{searchdata.brand}}</h6>
            <h6>{{searchdata.name}}</h6>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="ShowOnPageData">
      <ion-col  size="4" *ngFor="let category of AllSubCategoryData; let i = index">
        <div class="categoryWrapper animate__animated animate__bounceIn"  (click)="openSubCategory(i, category._id)" >
          <img src="assets/dog-treet.svg"  alt="" srcset="">
          <ion-text class="ion-text-center">
            <h6>{{category.name}}</h6>
            <h6>{{category.description}}</h6>
          </ion-text>
        </div>
      </ion-col>
    </ion-row>
    <!-- <ion-row>
      <ion-col size="6" >
        <div class="categoryWrapper animate__animated animate__bounceIn" (click)="openSubCategory($event)" >
          <img src="assets/dog-treet.svg" alt="" srcset="">
          <ion-text class="ion-text-center">
            <h6>Dog Food</h6>
          </ion-text>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="categoryWrapper animate__animated animate__bounceIn animate__delay-0.3s">
          <img src="assets/dog-food.svg" alt="" srcset="">
          <ion-text class="ion-text-center">
            <h6>Dog Treets</h6>
          </ion-text>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="categoryWrapper animate__animated animate__bounceIn animate__delay-0.3s">
          <img src="assets/dog-treetment.png" alt="" srcset="">
          <ion-text class="ion-text-center">
            <h6>Dog Treatment</h6>
          </ion-text>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="categoryWrapper animate__animated animate__bounceIn animate__delay-0.3s">
          <img src="assets/dog-gromming.png" alt="" srcset="">
          <ion-text class="ion-text-center">
            <h6>Dog Grooming</h6>
          </ion-text>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="categoryWrapper animate__animated animate__bounceIn animate__delay-0.3s">
          <img src="assets/dog-eggs.png" alt="" srcset="">
          <ion-text class="ion-text-center">
            <h6>Dairy & Eggs</h6>
          </ion-text>
        </div>
      </ion-col>
      <ion-col size="6">
        <div class="categoryWrapper animate__animated animate__bounceIn animate__delay-0.3s">
          <img src="assets/dog-bevereges.png" alt="" srcset="">
          <ion-text class="ion-text-center">
            <h6>Beverages</h6>
          </ion-text>
        </div>
      </ion-col>
    </ion-row> -->
  </ion-grid>
</ion-content>
        