


.purchaseButton::part(native) {
    // background: #FF8A00;
    color: #fff;
    border-color: #fff;
    border-radius: 20%;
    font-weight: bold;
    padding-block: 20px;
  }
  
  .purchaseButton::part(detail-icon) {
    color: white;
    opacity: 1;
    font-size: 20px;
  }
  
  .purchaseButton {
    padding-block: 10px;
    display: flex;
    justify-content: center;
    border-radius: 20%;
    margin: 0 auto; /* Center the button horizontally */
  }

.custom-button {
    --border-radius: 30%;
    color: black;
    margin: 20px;
    --background: white;
    /* Set background color to white */
    --padding-top: 12px;
    /* Set padding top */
    --padding-bottom: 12px;
    /* Set padding bottom */
    --padding-start: 16px;
    /* Set padding start */
    --padding-end: 16px;
    /* Set padding end */
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    /* Increase shadow */


}


.custom-card {
    padding-block: 20px;
    // padding-inline: 10px;
    height: 100%;

}

.image-container {
    width: 100%;
    height: 100%;
    // margin-top: 8px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgclass {
    width: 100%;
    /* Fixed width for the image */
    height: 100%;
    /* Fixed height for the image */
    object-fit: cover;
    /* Maintain aspect ratio */
}

ion-icon.heart-icon[name='heart'] {
    color: red; // Color when clicked
  }
  
  ion-icon.heart-icon[name='heart-outline'] {
    color: inherit; // Normal color
  }