<ion-header class="ion-no-border">
  <ion-toolbar >
    <ion-title class="ion-text-center">
     Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="assets/profile-bg.png" alt="" srcset="">
<ion-list>
  <ion-item detail (click)="openPage('orders')">
    <ion-icon name="bag-handle-outline" slot="start"></ion-icon>
    <ion-label>
      <strong>Orders</strong>
      <p>All your order details</p>
    </ion-label>
  </ion-item>
  <ion-item detail (click)="openPage('address')">
    <ion-icon name="business-outline" slot="start"></ion-icon>
    <ion-label>
      <strong>Address</strong>
      <p>Add/remove your address details</p>
    </ion-label>
  </ion-item>
  <ion-item detail (click)="openPage('cart')">
    <ion-icon name="cart-outline" slot="start"></ion-icon>
    <ion-label>
      <strong>Cart</strong>
      <p>View your cart items</p>
    </ion-label>
  </ion-item>
  <ion-item detail>
    <ion-icon name="call-outline" slot="start"></ion-icon>
    <ion-label>
      <strong>Contact Us</strong>
      <p>Contact us regarding your order</p>
    </ion-label>
  </ion-item>
  <ion-item detail>
    <ion-icon name="log-out-outline" slot="start"></ion-icon>
    <ion-label>
      <strong>Logout</strong>
      <p>Go back to login screen</p>
    </ion-label>
  </ion-item>
</ion-list>
</ion-content>
