<ion-header [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-title>My Cart</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="tabs/profile"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-list>
    <ion-list-header>
      <ion-label>Your cart items</ion-label>
      <!-- <ion-button>Clear cart</ion-button> -->
    </ion-list-header>
  </ion-list>



  <div *ngFor="let cartdata of responseData  ">

    
    <!-- <ion-list *ngFor="let categoryItems of cartdata.data.cartItems">
      <ion-item lines="none">

        <ion-thumbnail slot="start">
          <img src="assets/dogfood.jpg" />
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <p>{{categoryItems.productId.name}}</p>
          <p> {{categoryItems.productId.price | currency:"INR"}} </p>
        </ion-label>

        <ion-row style="background-color: #ece9e9;
      border-radius: 4px;" slot="end" class="ion-no-padding ion-align-items-center">
          <ion-col size="5">
            <ion-button (click)="incrementQuantity(categoryItems.productId)" fill="clear">
              <ion-icon color="dark" size="small" slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2">
            <div style="display: flex; justify-content: center; font-size: small;"> {{categoryItems.quantity }}</div>
          </ion-col>
          <ion-col size="5">
            <ion-button (click)="decrementQuantity(categoryItems.productId)" fill="clear">
              <ion-icon color="dark" size="small" slot="icon-only" name="remove"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-row>
        <ion-col size="auto">
          <ion-button fill="clear" class="ion-padding" mode="ios" (click)="RemoceFromCart(categoryItems)">
            Remove
          </ion-button>
        </ion-col>
        <ion-col>
          <ion-button class="ion-padding" mode="ios" (click)="placeOrder()">
             Proceed to Pay {{categoryItems.productId.price | currency:"INR"}} 
              Place Order -->
          <!-- </ion-button>
        </ion-col>
      </ion-row>
    </ion-list> -->


    <ion-list *ngFor="let categoryItems of cartdata.data.cartItems; let i = index">
      <ion-item lines="none">

        <ion-checkbox aria-label="Label"   slot="start"  (ionChange)="onCheckboxChange( 
          cartdata.data.TotalItems,
          cartdata.data.SubTotal, 
           cartdata.data._id,
           categoryItems.price, 
           categoryItems.quantity,
           categoryItems._id,
           categoryItems.productId._id,
           i,
           $event )
           "></ion-checkbox>

        <ion-thumbnail slot="start">
          <img src="assets/dogfood.jpg" />
        </ion-thumbnail>

        <ion-label class="ion-text-wrap">
          <p>{{categoryItems.productId.name}}</p>
          <p> {{categoryItems.productId.price | currency:"INR"}} </p>
        </ion-label>

        <ion-row style="background-color: #ece9e9;
      border-radius: 4px;" slot="end" class="ion-no-padding ion-align-items-center">
          <ion-col size="5">
            <ion-button (click)="incrementQuantity(categoryItems.productId)" fill="clear">
              <ion-icon color="dark" size="small" slot="icon-only" name="add"></ion-icon>
            </ion-button>
          </ion-col>
          <ion-col size="2">
            <div style="display: flex; justify-content: center; font-size: small;"> {{categoryItems.quantity }}</div>
          </ion-col>
          <ion-col size="5">
            <ion-button (click)="decrementQuantity(categoryItems.productId)" fill="clear">
              <ion-icon color="dark" size="small" slot="icon-only" name="remove"></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-item>
      <ion-row>
        <ion-col size="6">
          <ion-button  size='small'  fill="solid" mode="ios" (click)="RemoceFromCart(categoryItems)">
             Remove
          </ion-button>
          <!-- <ion-button fill="clear" class="ion-padding" mode="ios" (click)="RemoceFromCart(categoryItems)">
            Remove
          </ion-button> -->
        </ion-col>
        <!-- <ion-col>
          <ion-button class="ion-padding" mode="ios" >
             Proceed to Pay {{categoryItems.productId.price | currency:"INR"}} 
             Place Order
          </ion-button>
        </ion-col> -->
      </ion-row>
    </ion-list>



    <div *ngIf="responseData[0].data.cartItems.length !== 0 && TotalpayableAmount == 0">
      <ion-button class="ion-padding" expand="block" mode="ios" (click)="placeOrder('EmptyBody')">
        Proceed to Pay {{ responseData[0].data.SubTotal | number:'1.0-0'}}
      </ion-button>
    </div>
    <div *ngIf="TotalpayableAmount !== 0">
      <ion-button  class="ion-padding" expand="block" mode="ios" (click)="placeOrder('puchase Selected')"
      > Pay for Selected {{TotalpayableAmount | number:'1.0-0'}}</ion-button>
    </div>
    <div *ngIf="responseData[0].data.cartItems.length == 0">
      <ion-button class="ion-padding" expand="block" mode="ios">
        Your Cart is Empty!
      </ion-button>
    </div>
  </div>


</ion-content>